/Practico 1/SocketsPractico/build/
/Practica 3/build/
/Practica 4/build/
/Laboratorio 1/build/
/Trabajo clases RMI soquets/build/
/Paricial Final Practico/Pregunta 1/nbproject/private/
/Paricial Final Practico/Pregunta 1/build/
/Paricial Final Practico/Pregunta 2/nbproject/private/
/Paricial Final Practico/SeriesRMI/nbproject/private/
/Paricial Final Practico/SeriesRMI/build/
/SeriesRMI/build/
/SeriesRMI/nbproject/private/
/JavaApplication77/nbproject/private/
/SubRutinas/nbproject/private/
/Pragmatic/nbproject/private/
/ProgramadorRMI/nbproject/private/